

      h1 {font-family: Arial, Helvetica, sans-serif;
          text-align: center;}
          /* background-color: brown;} */
          h1:hover{
            background-color:skyblue;
          }

        nav{ background: rgb(110, 51, 73);
              padding: 1rem;
            }

            nav ul { list-style-type: none;
                     margin: 0;
                     padding: 0;
                     display: flex;
                     justify-content: space-around; 
                      
                    }
            a {color: wheat;}



 /*Home page intro */
.intro{ 
    text-align: center;
    /* background: skyblue; */
}


body{
    background-image: url(./images/mountWater.png);
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}

  table{
    font-size: medium;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}
caption{
    margin: 20px;}
    

table:hover{
    background-color: wheat;
}

/*Sign up page*/
        
h1, h2{
   text-align: center;
   background-color: brown;
}
.container{
         display: block;
         text-align: center;}

     .container div :hover{ color:rgb(211, 13, 46);}

/* Adding new css  for transition*/

button {
  background-color: yellow;
  transition: background-color 2s ease;
}

button:hover {
  background-color: green;
 
}
